.footer {
  background-color: #A349A4;
  height: 10vh;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.socialIcons {  
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
}

.socialIcons img {
	max-height: 25px;
	max-width: 25px;
  margin: 0 1.5rem;  
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 3rem;
  }
}